Language: Cpp
Standard: Cpp11
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: false
    AfterStruct: false
    AfterControlStatement: false
    AfterExternBlock: false
    BeforeElse: true
    SplitEmptyFunction: false
BreakBeforeBinaryOperators: All
PointerAlignment: Right
TabWidth: 4
IndentWidth: 4
SortIncludes: true
AccessModifierOffset: -4
ColumnLimit: 80
NamespaceIndentation: All
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
UseTab: Never

AllowShortFunctionsOnASingleLine: Empty

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2

IncludeBlocks: Regroup

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
